<div class="row">
  <div class="col s8 offset-s2">
    <div class="card">
      <div class="sm-jumbotron center-align">
        <h3 style="line-height: 150%">User Registration</h3>
      </div>
      <form class="col s12 white" (ngSubmit)="onSubmit()" #userRegistrationForm="ngForm">
        <div class="row">
          <div class="input-field col s6">
            <input required ngModel type="text" name="UserName" #UserName="ngModel">
            <label>UserName</label>
          </div>
          <div  class="input-field col s6">
            <input required ngModel minlength="3" type="password" name="Password" #UserName="ngModel">
            <label>Password</label>
          </div>
        </div>
        <div class="row">
          <div class="input-field col s12 row">
            <input [pattern]="pattern" ngModel type="text" name="Email" #Email="ngModel">
            <label >Email</label>
          </div>
        </div>
        <div class="row">
          <div class="input-field col s6">
            <input required ngModel  type="text" name="FirstName" #FirstName="ngModel">
            <label>FirstName</label>
          </div>
          <div class="input-field col s6">
            <input required ngModel  type="text" name="LastName" #LsatName="ngModel">
            <label>LsatName</label>
          </div>
        </div>
        <div class="row">
          <div class="input-field" style="text-align: center">
            <button [disabled]="!userRegistrationForm.valid" type="submit" class="btn-large">Submit</button>
          </div>
        </div>
      </form>
    </div>
  </div>
</div>
