<form class="col s12 white" (ngSubmit)="onSubmit()" #userRegistrationForm="ngForm">
  <div class="row">
    <div class="input-field col s6">
      <input required ngModel type="text" name="UserName" #UserName="ngModel">
      <label><span class="fas fa-user"></span> UserName</label>
    </div>
    <div class="input-field col s6">
      <input required ngModel minlength="6" type="password" name="Password" #UserName="ngModel">
      <label><span class="fa fa-key" ></span> Password</label>
    </div>
  </div>
  <div class="row">
    <div class="input-field col s12 row">
      <input [pattern]="pattern" ngModel type="text" name="Email" #Email="ngModel">
      <label><span class="fas fa-envelope-square"></span> Email</label>
    </div>
  </div>
  <div class="row">
    <div class="input-field col s6">
      <input required ngModel type="text" name="FirstName" #FirstName="ngModel">
      <label><span class="far fa-calendar-check"></span> FirstName</label>
    </div>
    <div class="input-field col s6">
      <input required ngModel type="text" name="LastName" #LsatName="ngModel">
      <label><span class="far fa-calendar-check"></span> LsatName</label>
    </div>
  </div>
  <div class="row">
    <div class="input-field" style="text-align: center">
      <button [disabled]="!userRegistrationForm.valid" type="submit" class="btn-large btn-submit">SignUp</button>
    </div>
  </div>
</form>
